@font-face {
    font-family: Anton;
    src: url(../fonts/Anton-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/RobotoCondensed-Bold.ttf);
}

@font-face {
    font-family: RobotoL;
    src: url(../fonts/RobotoCondensed-Light.ttf);
}

@font-face {
    font-family: RobotoR;
    src: url(../fonts/RobotoCondensed-Regular.ttf);
}